#clock {
    display: flex;
    flex-direction: row;
    width: 100vw;

}


#clock > .clock_circle {
    display: block
}

#analog {
    margin: auto;
    text-align: center;
    width: 100%;
    font-size: 8vh;
    margin-top: 5vh;
}

.clock-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 33vw;
}

.clock-circle {
    height: 11vmin;
    width: 11vmin;
    border-radius: 100%;
    border: 4px solid black;
}
